html,
body {
  height: 100%;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 40% 60%;
  background-color: #080705;
}

#main {
  display: grid;
  height: 500px;
  width: 500px;
  margin: 2rem auto;
  border: 2px solid black;
  background-color: #40434e;
}

.grid-element {
  border: 0.5px solid rgba(140, 140, 141, 0.25);
}
.grid-element-colored {
  background-color: black;
  border: black;
}
.button {
  background-color: #702632;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

.button:hover {
  background-color: #912f40;
}
