body {
  height: 100%;
  display: grid;
  grid-template-columns: 1, 1f;
  grid-template-rows: 2, 2f;
}

#main {
  height: 100%;
  display: grid;
}

.gridItem {
  background-color: whitesmoke;
}
div.gridItem:hover {
  background-color: red;
}
